.intro{
    width: calc(100vw-150px);
    height: 100vh;
    background-color: var(--background-color);
    color: var(--text-color);
    box-sizing: border-box;
    position: relative;
  }
.name{
    padding: 80px 0 30px 50px;
    margin: 0;
    font-size: 128px;
    font-weight: bold;
    overflow: hidden;
    animation: Shift 5s forwards;
}
.line{
    margin-left: 50px;
    width: 600px;
    height: 10px;
    border-top: 5px var(--text-color) solid;
    opacity: 0;
    animation: opacity 2s 2.5s forwards;
}
.developer{
    font-size: 32px;
    opacity: 0;
    animation: down 1s 3.5s forwards;
    margin: 20px 0 0 10px;
    display: inline-block;
}
.char{
    margin: 20px 0 0 50px;
    width: 190px;
    font-weight: bold;
    opacity: 0;
    transform: translateY(-10px);
    transition: opacity 1s, transform 1s;
    font-size: 34px;
    display: inline-block;
    text-align: center;
}
.up-out{
    opacity: 1;
    transform: translateY(0);
}
.bottom-arrow1,.bottom-arrow2{
    width: 100%;
    position: absolute;
    bottom: 10px;
    opacity: 0;
    text-align: center;
    color: var(--text-color);
    font-size: 40px;
    animation: downInOut 3s 4.5s infinite ;
}
.bottom-arrow1{
    bottom: 20px;
}
@keyframes Shift {
    0%{
        width: 0;
    }
    100%{
        width: 100%;
    }
}
@keyframes opacity {
    0%{ opacity: 0; }
    100%{ opacity: 1; }
}
@keyframes down {
    0%{ transform:translateY(-10px); opacity: 0;}
    100%{ transform: translateY(0px); opacity: 1;}
}
@keyframes downInOut {
    0%{ transform:translateY(-20px); opacity: 0;}
    50%{ transform: translateY(0px); opacity: 1;}    
    100%{ transform: translateY(+20px); opacity:0;}
}
